<!-- Footer -->
<footer class="container footer">
	<div class="row align-items-center">
    	<div class="col-lg-8 col-md-8">
        	<a href="mailto:{{ .Site.Params.email}}" class="btn newbtn"><i class="fa fa-envelope"></i> contact me</a>
        	<a href="{{ .Site.Params.cv}}" class="btn newbtn"><i class="fa fa-download"></i> download resume</a>
        </div>
        
        <div class="col-lg-4 col-md-4 text-right">
        	<ul class="social">
				{{ range .Site.Params.social }}
					<li class="align-items-center"><a href="{{ .URL }}"><i class="fa {{ .icon }}"></i></a></li>
				{{ end }}
            </ul>
        </div>
    </div>
</footer>
<!-- goto top -->
<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;"><span><i class="fa fa-angle-up" aria-hidden="true"></i></span></a>
<!-- goto top -->